<tr>
    <td>
      <div class="d-flex px-2 py-1">
        <div>
          <img src="/images/<%=book.img%>" class="avatar avatar-sm me-3" alt="<%=book.name%>">
        </div>
        <div class="d-flex flex-column justify-content-center">
          <h6 class="mb-0 text-sm"><%=book.name%></h6>
         
        </div>
      </div>
    </td>
    <td>
      <p class="text-xs font-weight-bold mb-0"><%=book.author%></p>
     
    </td>
    <td class="align-middle text-center text-sm">
      <span class="badge badge-sm bg-gradient-success"><%=book.price+"$"%></span>
    </td>
    <td class="align-middle text-center">
      <span class="text-secondary text-xs font-weight-bold"><%=book.percentSale+"%"%></span>
    </td>
    <td class="align-middle text-center">
        <span class="text-secondary text-xs font-weight-bold"><%=book.cartgory%></span>
      </td>
    <td class="align-middle">
      <div class="ms-auto text-end">
        <a class="btn btn-link text-danger text-gradient px-3 mb-0" href="javascript:;"><i class="far fa-trash-alt me-2"></i>Delete</a>
        <a class="btn btn-link text-dark px-3 mb-0" href="javascript:;"><i class="fas fa-pencil-alt text-dark me-2" aria-hidden="true"></i>Edit</a>
      </div> 
    </td>
  </tr>