<div class="col-12 cart">
    <div class="cart-content py-3 pl-3">
        <h6 class="header-gio-hang">GIỎ HÀNG CỦA BẠN <span>(1 sản phẩm)</span></h6>
        <div class="cart-list-items">
            <div class="cart-item d-flex">
                <a href="#" class="img">
                    <img src="/images/<%=book.img%>" class="img-fluid" alt="<%=book.name%>">
                </a>
                <div class="item-caption d-flex w-100">
                    <div class="item-info ml-3">
                        <a href="#" class="ten"><%=book.name%></a>
                        <div class="soluong d-flex">
                            <div class="input-number input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text btn-spin btn-dec">-</span>
                                </div>
                                <input type="text" value="1" class="soluongsp  text-center">
                                <div class="input-group-append">
                                    <span class="input-group-text btn-spin btn-inc">+</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item-price ml-auto d-flex flex-column align-items-end">
                        <div class="giamoi"><%=book.priceafterSale +"$"%></div>
                        <div class="giacu"><%=book.price +"$"%></div>
                        <form method="post" action="/api/v1/carts/<%=book.id +"?_method=DELETE"%>" >
                        <button type="submit" class="remove mt-auto"  ><i class="far fa-trash-alt"></i></button>
                        </form>
                    </div>
                </div>
                
            </div>
            <hr>
        </div> 
         <div class="row">
            <div class="col-md-3">
                <a href="/" class="btn nutmuathem mb-3" id="payment" data-book-id="<%=book.id%>">Đặt mua</a>
            </div>
            <div class="col-md-5 offset-md-4">
                <div class="tonggiatien">
                    <div class="group d-flex justify-content-between">
                        <p class="label">Tạm tính:</p>
                        <p class="tamtinh"><%=book.priceafterSale  +"$"%></p>
                    </div>
                   
                    <div class="group d-flex justify-content-between">
                        <p class="label">Phí vận chuyển:</p>
                        <p class="phivanchuyen">0 ₫</p>
                    </div>
                   
                    <div class="group d-flex justify-content-between align-items-center">
                        <strong class="text-uppercase">Tổng cộng:</strong>
                        <p class="tongcong"><%=book.priceafterSale  +"$"%></p>
                    </div>
                    <small class="note d-flex justify-content-end text-muted">
                        (Giá đã bao gồm VAT)
                    </small>
                </div>
            </div>
        </div> 
    </div>
</div>
