<title><%=title%></title>
<link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon.png" />
<link rel="icon" type="image/png" href="/images/icon.png" />
<link rel="stylesheet" type="text/css" href="/css/order.css" id="LINK_2" />
<div id="DIV_263"></div>
<div id="DIV_264">
  <div id="DIV_265">
    <div id="DIV_266">
      <h1 id="H1_267">Đặt Hàng</h1>
      <div id="DIV_268">
        <form method="post" action="" id="FORM_269">
          <div id="DIV_270">
            <div id="DIV_271">
              <div id="DIV_272">
                <div id="DIV_273">
                  <fieldset id="FIELDSET_274">
                    <legend id="LEGEND_275">Thông tin đơn hàng</legend>
                    <h3 id="H3_276">Thông tin đơn hàng</h3>
                    <p id="P_277">
                      <span id="SPAN_278"></span>
                    </p>
                    <div id="DIV_279">
                      <label id="LABEL_280">
                        <span id="SPAN_281">Họ và tên: <b id="B_282">(*)</b></span>
                      </label>
                      <input
                        name="don_ho_ten"
                        type="text"
                        maxlength="255"
                        placeholder="Họ và tên"
                        id="INPUT_283"
                        class="fullname_order"
                        required
                      />
                    </div>
                    <div id="DIV_284">
                      <label id="LABEL_285">
                        <span id="SPAN_286">Điện thoại: <b id="B_287">(*)</b></span>
                      </label>
                      <input
                        name="don_so_dt"
                        type="text"
                        maxlength="255"
                        placeholder="Số điện thoại"
                        id="INPUT_288"
                        class="phone_order"
                        required
                      />
                    </div>
                    <div id="DIV_289"></div>
                    <div id="DIV_290">
                      <label id="LABEL_291">
                        <span id="SPAN_292">Email: <b id="B_293">(*)</b></span>
                      </label>
                      <input
                        name="don_mail"
                        type="email"
                        maxlength="255"
                        placeholder="Email để nhận thông báo đơn hàng"
                        id="INPUT_294"
                        class="email_order"
                        required
                      />
                    </div>
                    <div id="DIV_295"></div>
                    <div id="DIV_296">
                      <label id="LABEL_297">
                        <span id="SPAN_298">Địa chỉ nhận: <b id="B_299">(*)</b></span>
                      </label>
                      <input
                        name="don_dia_chi"
                        type="text"
                        maxlength="255"
                        placeholder="Địa chỉ "
                        id="INPUT_300"
                        class="address_order"
                        required
                      />
                    </div>

                    <div id="DIV_385"></div>
                    <div id="DIV_386">
                      <label id="LABEL_387">
                        <span id="SPAN_388">Đóng Gói: <b id="B_389">(*)</b></span>
                      </label>
                      <select name="dong_goi" id="SELECT_390" class="pack_order" required>
                        <option id="OPTION_391">Chọn quy cách đóng gói</option>
                        <option value="1" id="OPTION_392">Để nguyên seal</option>
                        <option value="2" id="OPTION_393">Bọc Platis</option>
                      </select>
                    </div>
                    <div id="DIV_394"></div>
                    <div id="DIV_395"></div>
                    <div id="DIV_396">
                      <label id="LABEL_397">
                        <span id="SPAN_398">Hình thức thanh toán: <b id="B_399">(*)</b></span>
                      </label>
                      <select name="hinh_thuc_tt" id="SELECT_400" class="payment_order" required>
                        <option id="OPTION_401">Chọn hình thức</option>
                        <option value="1" id="OPTION_402">Cod: Giao hàng nhận tiền</option>
                        <option value="2" id="OPTION_403">Chuyển khoản</option>
                      </select>
                    </div>
                    <div id="DIV_404">
                      <label for="billingAddress1" id="LABEL_405">
                        <span id="SPAN_406">Ghi chú:</span>
                      </label>
                      <textarea
                        name="ghi_chu"
                        rows="3"
                        cols="20"
                        id="TEXTAREA_407"
                        placeholder="Ghi chú về đơn hàng"
                        class="note_order"
                      >
                      </textarea>
                    </div>
                  </fieldset>
                </div>
                <div id="DIV_408"></div>

                <input
                  type="submit"
                  name="tr_tranh_toan"
                  data-book-id="<%=bookOrder.id%>"
                  class="payment"
                  id="INPUT_409"
                  value="Đặt hàng"
                />
              </div>
              <div id="DIV_410">
                <div id="DIV_411">
                  <div id="DIV_412">
                    <fieldset id="FIELDSET_413">
                      <h4 id="H4_414">Áp dụng mã giảm giá</h4>
                      <div id="DIV_415">
                        <div id="DIV_416">
                          <div id="DIV_417">Nhập mã giảm giá tại đây:</div>
                          <div id="DIV_418">
                            <div id="DIV_419">
                              <input name="ma_giam_gia" type="text" id="INPUT_420" />
                            </div>
                            <div id="DIV_421">
                              <div id="DIV_422">
                                <input id="INPUT_423" type="button" value="Áp dụng" />
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                  <div id="DIV_424">
                    <h4 id="H4_425">Chi tiết đơn</h4>
                  </div>
                  <div id="DIV_426">
                    <div id="DIV_427">
                      <div id="DIV_428">
                        <div id="DIV_429">
                          <a href="/book/<%= bookOrder.slug%>" id="A_430"><%=bookOrder.name%><br id="BR_431" /> </a>
                          <label id="LABEL_434"> Số lượng: 1 </label><br id="BR_435" />
                        </div>
                        <div id="DIV_438"><%=bookOrder.priceafterSale +"$"%></div>
                        <span id="SPAN_439"></span>
                      </div>
                      <div id="DIV_440">
                        <span id="SPAN_441">Tổng tiền:</span> <span id="SPAN_442"><%=bookOrder.priceafterSale +"$"%></span>
                      </div>
                      <div id="DIV_443"><span id="SPAN_444">Phí vận chuyển:</span> <span id="SPAN_445">0</span></div>
                      <div id="DIV_452">
                        <span id="SPAN_453">Thanh toán:</span>
                        <span id="SPAN_454"><%=bookOrder.priceafterSale +"$"%></span>
                      </div>
                      <div id="DIV_455">
                        <div id="DIV_457"><a href="/cart" id="A_456">Chỉnh sửa đơn hàng</a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- -->

<div id="DIV_458"></div>
<div id="DIV_459">
  <div id="DIV_460">
    <div id="DIV_461">
      <div id="DIV_462">
        <div id="DIV_463">
          <ul id="UL_464">
            <li id="LI_465">
              Hỗ trợ khách hàng
              <ul id="UL_466">
                <li id="LI_467">
                  Email: gblhiep@gmail.com
                  <ul id="UL_468">
                    <li id="LI_469">Hotline: <b id="B_470">0386728493</b></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li id="LI_471">
              Giới thiệu
              <ul id="UL_472">
                <li id="LI_475">
                  <a href="#" id="A_476">Về LoveBook</a>
                </li>
                <li id="LI_477">
                  <a href="#" id="A_478">Tuyển dụng</a>
                </li>
              </ul>
            </li>
            <li id="LI_479">
              Tài khoản
              <ul id="UL_480">
                <li id="LI_481">
                  <a href="/" title="Tài khoản" id="A_482">Đăng nhập</a>
                </li>
                <li id="LI_483">
                  <a href="/forget" title="Tài khoản" id="A_484">Quên Pass</a>
                </li>
              </ul>
            </li>
            <li id="LI_485">
              Hướng dẫn
              <ul id="UL_486">
                <li id="LI_487">
                  <a href="#" id="A_488">Hướng dẫn mua hàng</a>
                </li>
                <li id="LI_489">
                  <a href="#" id="A_490">Phương thức thanh toán</a>
                </li>
                <li id="LI_491">
                  <a href="#" id="A_492">Câu hỏi thường gặp</a>
                </li>
                <li id="LI_493">
                  <a href="#" id="A_494">Chính sách vận chuyển</a>
                </li>
                <li id="LI_495">
                  <a href="#" id="A_496">Chính sách bảo mật thông tin</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div id="DIV_497"></div>
    <div id="DIV_499"></div>
    <div id="DIV_500">
      <div id="DIV_501">
        <div id="DIV_502">
          <div id="DIV_503">Copyright © LoveBook</div>
          <div id="DIV_504"></div>
          <div id="DIV_505">Địa chỉ: 141 chiến thắng, thanh trì, hà nội KMA</div>
          <div id="DIV_506"></div>
          <div id="DIV_507">
            <a href="http://online.gov.vn/Home/WebDetails/9908" id="A_508"
              ><img alt="" src="https://nobita.vn/wp-content/themes/template/stores/images/dathongbao-1.png" id="IMG_509"
            /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/slick/slick.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"
  integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script src="https://sweetalert.js.org/assets/sweetalert/sweetalert.min.js"></script>
<script src="https://js.stripe.com/v3/"></script>
<script src="/js/payment.js"></script>
<!-- Messenger Plugin chat Code -->
<div id="fb-root"></div>

<!-- Your Plugin chat code -->
<div id="fb-customer-chat" class="fb-customerchat"></div>

<script>
  var chatbox = document.getElementById('fb-customer-chat');
  chatbox.setAttribute('page_id', '105817078737500');
  chatbox.setAttribute('attribution', 'biz_inbox');
</script>

<!-- Your SDK code -->
<script>
  window.fbAsyncInit = function () {
    FB.init({
      xfbml: true,
      version: 'v14.0',
    });
  };

  (function (d, s, id) {
    var js,
      fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
    fjs.parentNode.insertBefore(js, fjs);
  })(document, 'script', 'facebook-jssdk');
</script>
