<title><%=title%></title>
<link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon.png" />
<link rel="icon" type="image/png" href="/images/icon.png" />
<link rel="stylesheet" type="text/css" href="/css/order.css" id="LINK_2" />
<div id="DIV_263"></div>
<div id="DIV_264">
  <div id="DIV_265">
    <div id="DIV_266">
      <h1 id="H1_267">Đặt Hàng</h1>
      <div id="DIV_268">
        <form method="post" action="" id="FORM_269">
          <div id="DIV_270">
            <div id="DIV_271">
              <div id="DIV_272">
                <div id="DIV_273">
                  <fieldset id="FIELDSET_274">
                    <legend id="LEGEND_275">Thông tin đơn hàng</legend>
                    <h3 id="H3_276">Thông tin đơn hàng</h3>
                    <p id="P_277">
                      <span id="SPAN_278"></span>
                    </p>
                    <div id="DIV_279">
                      <label id="LABEL_280">
                        <span id="SPAN_281">Họ và tên: <b id="B_282">(*)</b></span>
                      </label>
                      <input name="don_ho_ten" type="text" maxlength="255" placeholder="Họ và tên" id="INPUT_283" />
                    </div>
                    <div id="DIV_284">
                      <label id="LABEL_285">
                        <span id="SPAN_286">Điện thoại: <b id="B_287">(*)</b></span>
                      </label>
                      <input name="don_so_dt" type="text" maxlength="255" placeholder="Số điện thoại" id="INPUT_288" />
                    </div>
                    <div id="DIV_289"></div>
                    <div id="DIV_290">
                      <label id="LABEL_291">
                        <span id="SPAN_292">Email: <b id="B_293">(*)</b></span>
                      </label>
                      <input
                        name="don_mail"
                        type="email"
                        maxlength="255"
                        placeholder="Email để nhận thông báo đơn hàng"
                        id="INPUT_294"
                      />
                    </div>
                    <div id="DIV_295"></div>
                    <div id="DIV_296">
                      <label id="LABEL_297">
                        <span id="SPAN_298">Địa chỉ nhận: <b id="B_299">(*)</b></span>
                      </label>
                      <input name="don_dia_chi" type="text" maxlength="255" placeholder="Địa chỉ " id="INPUT_300" />
                    </div>
                    <div id="DIV_301">
                      <label id="LABEL_302">
                        <span id="SPAN_303">Tỉnh/Thành: <b id="B_304">(*)</b></span>
                      </label>
                      <select name="don_tinh" id="SELECT_305">
                        <option id="OPTION_306">Chọn tỉnh thành</option>
                        <option value="79" id="OPTION_307">Hồ Chí Minh</option>
                        <option value="01" id="OPTION_308">Hà Nội</option>
                        <option value="760" id="OPTION_309"></option>
                        <option value="89" id="OPTION_310">An Giang</option>
                        <option value="77" id="OPTION_311">Bà Rịa - Vũng Tàu</option>
                        <option value="24" id="OPTION_312">Bắc Giang</option>
                        <option value="06" id="OPTION_313">Bắc Kạn</option>
                        <option value="95" id="OPTION_314">Bạc Liêu</option>
                        <option value="27" id="OPTION_315">Bắc Ninh</option>
                        <option value="83" id="OPTION_316">Bến Tre</option>
                        <option value="74" id="OPTION_317">Bình Dương</option>
                        <option value="70" id="OPTION_318">Bình Phước</option>
                        <option value="60" id="OPTION_319">Bình Thuận</option>
                        <option value="52" id="OPTION_320">Bình Định</option>
                        <option value="96" id="OPTION_321">Cà Mau</option>
                        <option value="92" id="OPTION_322">Cần Thơ</option>
                        <option value="04" id="OPTION_323">Cao Bằng</option>
                        <option value="64" id="OPTION_324">Gia Lai</option>
                        <option value="02" id="OPTION_325">Hà Giang</option>
                        <option value="35" id="OPTION_326">Hà Nam</option>
                        <option value="01" id="OPTION_327">Hà Nội</option>
                        <option value="42" id="OPTION_328">Hà Tĩnh</option>
                        <option value="30" id="OPTION_329">Hải Dương</option>
                        <option value="31" id="OPTION_330">Hải Phòng</option>
                        <option value="93" id="OPTION_331">Hậu Giang</option>
                        <option value="79" id="OPTION_332">Hồ Chí Minh</option>
                        <option value="17" id="OPTION_333">Hoà Bình</option>
                        <option value="33" id="OPTION_334">Hưng Yên</option>
                        <option value="56" id="OPTION_335">Khánh Hòa</option>
                        <option value="91" id="OPTION_336">Kiên Giang</option>
                        <option value="62" id="OPTION_337">Kon Tum</option>
                        <option value="12" id="OPTION_338">Lai Châu</option>
                        <option value="68" id="OPTION_339">Lâm Đồng</option>
                        <option value="20" id="OPTION_340">Lạng Sơn</option>
                        <option value="10" id="OPTION_341">Lào Cai</option>
                        <option value="80" id="OPTION_342">Long An</option>
                        <option value="36" id="OPTION_343">Nam Định</option>
                        <option value="40" id="OPTION_344">Nghệ An</option>
                        <option value="37" id="OPTION_345">Ninh Bình</option>
                        <option value="58" id="OPTION_346">Ninh Thuận</option>
                        <option value="25" id="OPTION_347">Phú Thọ</option>
                        <option value="54" id="OPTION_348">Phú Yên</option>
                        <option value="44" id="OPTION_349">Quảng Bình</option>
                        <option value="49" id="OPTION_350">Quảng Nam</option>
                        <option value="51" id="OPTION_351">Quảng Ngãi</option>
                        <option value="22" id="OPTION_352">Quảng Ninh</option>
                        <option value="45" id="OPTION_353">Quảng Trị</option>
                        <option value="94" id="OPTION_354">Sóc Trăng</option>
                        <option value="14" id="OPTION_355">Sơn La</option>
                        <option value="72" id="OPTION_356">Tây Ninh</option>
                        <option value="34" id="OPTION_357">Thái Bình</option>
                        <option value="19" id="OPTION_358">Thái Nguyên</option>
                        <option value="38" id="OPTION_359">Thanh Hóa</option>
                        <option value="46" id="OPTION_360">Thừa Thiên Huế</option>
                        <option value="82" id="OPTION_361">Tiền Giang</option>
                        <option value="84" id="OPTION_362">Trà Vinh</option>
                        <option value="08" id="OPTION_363">Tuyên Quang</option>
                        <option value="86" id="OPTION_364">Vĩnh Long</option>
                        <option value="26" id="OPTION_365">Vĩnh Phúc</option>
                        <option value="15" id="OPTION_366">Yên Bái</option>
                        <option value="48" id="OPTION_367">Đà Nẵng</option>
                        <option value="66" id="OPTION_368">Đắk Lắk</option>
                        <option value="67" id="OPTION_369">Đắk Nông</option>
                        <option value="11" id="OPTION_370">Điện Biên</option>
                        <option value="75" id="OPTION_371">Đồng Nai</option>
                        <option value="87" id="OPTION_372">Đồng Tháp</option>
                      </select>
                    </div>
                    <div id="DIV_373">
                      <label id="LABEL_374">
                        <span id="SPAN_375">Quận/Huyện: <b id="B_376">(*)</b></span>
                      </label>
                      <select name="quan_huyen" id="SELECT_377">
                        <option id="OPTION_378">Chọn Quận/Huyện</option>
                      </select>
                    </div>
                    <div id="DIV_379">
                      <label id="LABEL_380">
                        <span id="SPAN_381">Phường/Xã: <b id="B_382">(*)</b></span>
                      </label>
                      <select name="phuong_xa" id="SELECT_383">
                        <option id="OPTION_384">Chọn Phường/Xã</option>
                      </select>
                    </div>
                    <div id="DIV_385"></div>
                    <div id="DIV_386">
                      <label id="LABEL_387">
                        <span id="SPAN_388">Đóng Gói: <b id="B_389">(*)</b></span>
                      </label>
                      <select name="dong_goi" id="SELECT_390">
                        <option id="OPTION_391">Chọn quy cách đóng gói</option>
                        <option value="1" id="OPTION_392">Để nguyên seal</option>
                        <option value="2" id="OPTION_393">Bọc Platis</option>
                      </select>
                    </div>
                    <div id="DIV_394"></div>
                    <div id="DIV_395"></div>
                    <div id="DIV_396">
                      <label id="LABEL_397">
                        <span id="SPAN_398">Hình thức thanh toán: <b id="B_399">(*)</b></span>
                      </label>
                      <select name="hinh_thuc_tt" id="SELECT_400">
                        <option id="OPTION_401">Chọn hình thức</option>
                        <option value="1" id="OPTION_402">Cod: Giao hàng nhận tiền</option>
                        <option value="2" id="OPTION_403">Chuyển khoản</option>
                      </select>
                    </div>
                    <div id="DIV_404">
                      <label for="billingAddress1" id="LABEL_405">
                        <span id="SPAN_406">Ghi chú:</span>
                      </label>
                      <textarea name="ghi_chu" rows="3" cols="20" id="TEXTAREA_407" placeholder="Ghi chú về đơn hàng">
                      </textarea>
                    </div>
                  </fieldset>
                </div>
                <div id="DIV_408"></div>
                <!-- id="payment"
                    data-book-id="<%#=bookOrder.id%>" -->
                <input
                  type="submit"
                  name="tr_tranh_toan"
                  data-book-id="<%=bookOrder.id%>"
                  class="payment"
                  id="INPUT_409"
                  value="Đặt hàng"
                />
              </div>
              <div id="DIV_410">
                <div id="DIV_411">
                  <div id="DIV_412">
                    <fieldset id="FIELDSET_413">
                      <h4 id="H4_414">Áp dụng mã giảm giá</h4>
                      <div id="DIV_415">
                        <div id="DIV_416">
                          <div id="DIV_417">Nhập mã giảm giá tại đây:</div>
                          <div id="DIV_418">
                            <div id="DIV_419">
                              <input name="ma_giam_gia" type="text" id="INPUT_420" />
                            </div>
                            <div id="DIV_421">
                              <div id="DIV_422">
                                <input id="INPUT_423" type="button" value="Áp dụng" />
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                  <div id="DIV_424">
                    <h4 id="H4_425">Chi tiết đơn</h4>
                  </div>
                  <div id="DIV_426">
                    <div id="DIV_427">
                      <div id="DIV_428">
                        <div id="DIV_429">
                          <a href="/book/<%= bookOrder.slug%>" id="A_430"><%=bookOrder.name%><br id="BR_431" /> </a>
                          <label id="LABEL_434"> Số lượng: 1 </label><br id="BR_435" />
                        </div>
                        <div id="DIV_438"><%=bookOrder.priceafterSale +"$"%></div>
                        <span id="SPAN_439"></span>
                      </div>
                      <div id="DIV_440">
                        <span id="SPAN_441">Tổng tiền:</span> <span id="SPAN_442"><%=bookOrder.priceafterSale +"$"%></span>
                      </div>
                      <div id="DIV_443"><span id="SPAN_444">Phí vận chuyển:</span> <span id="SPAN_445">0</span></div>
                      <div id="DIV_452">
                        <span id="SPAN_453">Thanh toán:</span>
                        <span id="SPAN_454"><%=bookOrder.priceafterSale +"$"%></span>
                      </div>
                      <div id="DIV_455">
                        <a href="/cart" id="A_456"></a>
                        <div id="DIV_457">Chỉnh sửa đơn hàng</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- -->

<div id="DIV_458"></div>
<div id="DIV_459">
  <div id="DIV_460">
    <div id="DIV_461">
      <div id="DIV_462">
        <div id="DIV_463">
          <ul id="UL_464">
            <li id="LI_465">
              Hỗ trợ khách hàng
              <ul id="UL_466">
                <li id="LI_467">
                  Email: gblhiep@gmail.com
                  <ul id="UL_468">
                    <li id="LI_469">Hotline: <b id="B_470">0386728493</b></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li id="LI_471">
              Giới thiệu
              <ul id="UL_472">
                <li id="LI_475">
                  <a href="#" id="A_476">Về LoveBook</a>
                </li>
                <li id="LI_477">
                  <a href="#" id="A_478">Tuyển dụng</a>
                </li>
              </ul>
            </li>
            <li id="LI_479">
              Tài khoản
              <ul id="UL_480">
                <li id="LI_481">
                  <a href="/" title="Tài khoản" id="A_482">Đăng nhập</a>
                </li>
                <li id="LI_483">
                  <a href="/forget" title="Tài khoản" id="A_484">Quên Pass</a>
                </li>
              </ul>
            </li>
            <li id="LI_485">
              Hướng dẫn
              <ul id="UL_486">
                <li id="LI_487">
                  <a href="#" id="A_488">Hướng dẫn mua hàng</a>
                </li>
                <li id="LI_489">
                  <a href="#" id="A_490">Phương thức thanh toán</a>
                </li>
                <li id="LI_491">
                  <a href="#" id="A_492">Câu hỏi thường gặp</a>
                </li>
                <li id="LI_493">
                  <a href="#" id="A_494">Chính sách vận chuyển</a>
                </li>
                <li id="LI_495">
                  <a href="#" id="A_496">Chính sách bảo mật thông tin</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div id="DIV_497"></div>
    <div id="DIV_499"></div>
    <div id="DIV_500">
      <div id="DIV_501">
        <div id="DIV_502">
          <div id="DIV_503">Copyright © LoveBook</div>
          <div id="DIV_504"></div>
          <div id="DIV_505">Địa chỉ: 141 chiến thắng, thanh trì, hà nội KMA</div>
          <div id="DIV_506"></div>
          <div id="DIV_507">
            <a href="http://online.gov.vn/Home/WebDetails/9908" id="A_508"
              ><img alt="" src="https://nobita.vn/wp-content/themes/template/stores/images/dathongbao-1.png" id="IMG_509"
            /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
